.App {
  text-align: center;
}
.body-box {
  background: #24292e;
  color: #ffffff;
}
a {
  text-decoration: none;
  display: inline-block;
}
.nav-head{
  background: #24292e;
  color: #ffffff;
}
#heading{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.login{
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.login:hover{
  color: #fff;
  text-decoration: underline;
}
#login-msg{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  font-weight: 400;
  color:#24292e;
}
#github-logo{
  width: 100px;
  height: 100px;
}
#card {
  width: 33%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.search-box input[type='search'] {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-radius: 2rem;
  padding: .75rem .9375rem .9375rem;
  background: #333333;
  color:  #ffffff;
  text-align: center;
  box-sizing: border-box;
}
.notfound {
  background: #fff;
  padding: 1.875rem;
  margin-top: 1rem;
  text-align: center;
}
.notfound h2 {
  font-size: 2rem;
  color: #24292e;
  margin-bottom: .625rem;
}
.notfound h5 {
  font-size: 1rem;
  color: #000;
}
.github-profile-info {
  background: #fff;
  text-align: center;
  padding: 20px;
}
.github-profile-info img {
  width: 200px;
  height: 200px;
  display: block;
  border: 0.1px solid black;
}
.github-profile-info h2 a {
  font-size: 35px;
  color: #2368bd;
  letter-spacing: -0.03rem;
}
.github-profile-info h3 {
  font-size: 1.1885rem;
  color: gray;
}
.github-profile-state {
  background: #3b536b;
  text-align: center;
  padding: 0.8rem 0.5rem;
}
.github-profile-state ul {
  direction: ltr;
}
.github-profile-state li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
}
.github-profile-state a {
  color: #fff;
}
.github-profile-state i {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.github-profile-state i:hover {
  text-decoration: underline;
  color:#fff;
}
.github-profile-state span {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .08rem;
  color: #27ae60;
}
.github-profile-state span:hover{
  color: #27ae60;
  text-decoration: underline;
}
